Source: switchboard-plug-notifications
Section: x11
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libgranite-dev,
               libgtk-3-dev (>= 3.10),
               libswitchboard-2.0-dev,
               valac (>= 0.22)
Standards-Version: 3.9.7
Homepage: https://github.com/elementary/switchboard-plug-notifications

Package: switchboard-plug-notifications
Architecture: any
Depends: gala, ${misc:Depends}, ${shlibs:Depends}
Description: Change notification settings
 Switchboard plug for controlling Gala's notifications.

Package: switchboard-plug-notifications-dbg
Architecture: any
Section: debug
Priority: extra
Depends: switchboard-plug-notifications (= ${binary:Version}), ${misc:Depends}
Description: Change notification settings (debugging symbols)
 Switchboard plug for controlling Gala's notifications.
 .
 This package contains debugging symbols for switchboard-plug-notifications.
