Source: io.elementary.settings.notifications
Section: x11
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libadwaita-1-dev,
               libgranite-7-dev,,
               libgtk-4-dev,
               libswitchboard-3-dev,
               meson,
               valac (>= 0.22)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/switchboard-plug-notifications

Package: io.elementary.settings.notifications
Architecture: any
Depends: io.elementary.notifications, io.elementary.settings, ${misc:Depends}, ${shlibs:Depends}
Enhances: io.elementary.settings
Description: Change notification settings
 Switchboard plug for controlling Pantheon's notifications.
