/*
* Copyright 2020-2022 elementary, Inc. (https://elementary.io)
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public
* License as published by the Free Software Foundation; either
* version 2 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public
* License along with this program; if not, write to the
* Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
* Boston, MA 02110-1301 USA.
*/

settingspage.notifications .card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 112px 80px, cover;
    min-width: 112px;
    min-height: 80px;
    margin-top: 1em;
}

settingspage.notifications .card.bubbles {
    background-image:
        url("resource:///io/elementary/settings/notifications/bubble.svg"),
        url("resource:///io/elementary/settings/notifications/dock.svg"),
        linear-gradient(
            to bottom,
            shade(@selected_bg_color, 1.1),
            @selected_bg_color
        );
    background-size: 40px 14px, 54px 12px, cover;
    background-position: calc(100% - 3px) 12px, bottom, center;
}

settingspage.notifications .card.bubbles.dark {
    background-image:
        url("resource:///io/elementary/settings/notifications/bubble-dark.svg"),
        url("resource:///io/elementary/settings/notifications/dock-dark.svg"),
        linear-gradient(
            to bottom,
            shade(@selected_bg_color, 1.1),
            @selected_bg_color
        );
}

settingspage.notifications .card.bubbles:dir(rtl) {
    background-position: 3px 12px, bottom, center;
}

settingspage.notifications .card.sounds {
    background-image:
        -gtk-icontheme("audio-volume-high-symbolic"),
        url("resource:///io/elementary/settings/notifications/dock.svg"),
        linear-gradient(
            to bottom,
            shade(@selected_bg_color, 1.1),
            @selected_bg_color
        );
    background-size: 32px, 54px 12px, cover;
    background-position: center, bottom, center;
    color: @selected_fg_color;
}

settingspage.notifications .card.sounds.dark {
    background-image:
        -gtk-icontheme("audio-volume-high-symbolic"),
        url("resource:///io/elementary/settings/notifications/dock-dark.svg"),
        linear-gradient(
            to bottom,
            shade(@selected_bg_color, 1.1),
            @selected_bg_color
        );
}

settingspage.notifications .card.notify-center {
    background-image:
        url("resource:///io/elementary/settings/notifications/notify-center.svg"),
        url("resource:///io/elementary/settings/notifications/dock.svg"),
        linear-gradient(
            to bottom,
            shade(@selected_bg_color, 1.1),
            @selected_bg_color
        );
    background-size: 40px 55px, 54px 12px, cover;
    background-position: calc(100% - 3px) 3px, bottom, center;
}

settingspage.notifications .card.notify-center.dark {
    background-image:
        url("resource:///io/elementary/settings/notifications/notify-center-dark.svg"),
        url("resource:///io/elementary/settings/notifications/dock-dark.svg"),
        linear-gradient(
            to bottom,
            shade(@selected_bg_color, 1.1),
            @selected_bg_color
        );
}

settingspage.notifications .card.notify-center:dir(rtl) {
    background-position: 3px 3px, bottom, center;
}
