/*
* Copyright 2020 elementary, Inc. (https://elementary.io)
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public
* License as published by the Free Software Foundation; either
* version 2 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public
* License along with this program; if not, write to the
* Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
* Boston, MA 02110-1301 USA.
*/

/*.card {*/
/*    background-image:*/
/*        linear-gradient(*/
/*            to bottom,*/
/*            alpha (@accent_color_300, 0.1),*/
/*            alpha (@accent_color_500, 0.1)*/
/*        );*/
/*}*/

.card {
   background-position: center;
   background-repeat: no-repeat;
   background-size: 112px 80px, cover;
   min-width: 112px;
   min-height: 80px;
}

.card.icon-bubbles {
    background-image:
        url("resource:///io/elementary/settings/notifications/bubbles.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

.card.icon-bubbles-dark {
    background-image:
        url("resource:///io/elementary/settings/notifications/bubbles-dark.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

.card.icon-sounds {
    background-image:
        url("resource:///io/elementary/settings/notifications/sounds.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

.card.icon-sounds-dark {
    background-image:
        url("resource:///io/elementary/settings/notifications/sounds-dark.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

.card.icon-notify-center {
    background-image:
        url("resource:///io/elementary/settings/notifications/notify-center.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

.card.icon-notify-center-dark {
    background-image:
        url("resource:///io/elementary/settings/notifications/notify-center-dark.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}
